{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="series-heading">X Series</div>

<div class="shop" id="shop">
    {% for car in cars %}
    {% if car.get_stock_level() > 0 %}
    <div id=car-id-{{car.id}} class="item">
        <img width="250" height="150" src="/static/images/{{car.image}}.png" alt="">
        <div class="details">
            <h3>{{car.series}}{{car.model}}</h3>
            <p>{{car.description}}</p>
            <div class="price-quantity"><h2>£{{car.price}}</h2>
                {% if user.is_authenticated %}
                <div class="sign-up-form">
                    <form  method="POST">
                        <input type="hidden" name="code" value={{car.id}}>
                        <button class="return-to-browse" style="font-size: 15px;"type="submit">Add Car</button>
                    </form>
                </div>
                {% else %}
                <p>Login To Add</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    
</div>

{% endblock %}